@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../img/pexels-pixabay-461098 (1).jpg");
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.logo {
	list-style-image: none;
	margin-right: 500px;
}
.navbar{

	text-align: center;
}
.navbar ul{
	display: inline-flex;
	list-style: none;
}
.navbar ul li{
	width: 150px;
	margin: 15px;
	padding: 15px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
}
.active, .navbar ul li:hover{
   background-color: #00B7EB;
	border-radius: 10px;
}